<h1>Добро пожаловать в барбершоп</h1>

<form action="/" method="POST">
</br>
  <select name="@master">
          <option selected="selected">Выберите мастера</option>
          <option>Чебурашка</option>
          <option>Крокодил Гена</option>
          <option>Шапокляк</option>
          <option>Крыска Лариса</option>
      </select> </br>
    </br>
  Введите Ваше имя:              <br />
  <input type="text" name="@user_name"> <br />

  <br />
  Введите номер телефлна:       <br />
  <input type="text" name="@phone"> <br />

  <br />
  Введите дату и время:           <br />
  <input type="text" name="@time"> <br />

  <br />
  <!--button Submit кнопка получилась синяя-->
  <button type="submit" class="btn btn-primary">Записаться</button><br/>
  <!-- кнопка белого цвета <input type="submit">-->
</form>                      


   